<ng-container *ngIf="store.nodeToggle; else defaultToggleTpl">
  <div
    class="hz-tree-node-toggle-content"
    (click)="onClick($event)"
    *ngIf="!node.isLeaf && !loading"
  >
    <ng-template
      [ngTemplateOutlet]="store.nodeToggle"
      [ngTemplateOutletContext]="{ $implicit: node }"
    ></ng-template>
  </div>
</ng-container>
<ng-template #defaultToggleTpl>
  <button
    hz-button
    hzSize="xs"
    hzType="icon-only"
    [style.transform]="node.expanded ? null : 'rotate(-90deg)'"
    *ngIf="!node.isLeaf && !loading"
    (click)="onClick($event)"
  >
    <i hz-icon hzName="triangle"></i>
  </button>
</ng-template>
<i hz-icon hzName="loading" class="hz-tree-node-toggle-loading" *ngIf="loading"></i>
