.doc-header {
  height: var(--header-height);
  width: 100%;
  box-shadow: var(--container-c200);
  background-color: var(--background-100);
  transition: all 0.4s cubic-bezier(0.2, 1, 0.2, 1);
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  .doc-header-menu {
    margin-left: 24px;
  }
  .doc-header-logo {
    width: 61px;
    height: 20px;
    margin-left: 24px;
    background: url(../../../assets/svgs/hertz-logo-light.svg) no-repeat 100% 100%;
  }
  .doc-header-github {
    color: var(--type-900);
    position: absolute;
    right: 64px;
  }
  .doc-header-change-theme {
    color: var(--orange-900);
    position: absolute;
    right: 24px;
    cursor: pointer;
    user-select: none;
  }
}
[theme='dark'] .doc-header-logo {
  background: url(../../../assets/svgs/hertz-logo-dark.svg) no-repeat 100% 100%;
}
